Flask==2.3.2
flask_loguru==1.0.0
insightface==0.7.3
numpy==1.25.2
onnxruntime==1.15.1; python_version != '3.9' and sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-coreml==1.13.1; python_version == '3.9' and sys_platform == 'darwin' and platform_machine != 'arm64'
onnxruntime-silicon==1.13.1; sys_platform == 'darwin' and platform_machine == 'arm64'
onnxruntime-gpu==1.15.1; sys_platform != 'darwin'
opencv_python==4.8.0.74
opencv_python_headless==4.8.0.74
torch==2.0.1
tqdm==4.65.0
